<div class="vid-btn-container">

    <div class="video-container" [ngClass]="{'hidden': isImageCaptured}">
        <div class="spinner-container" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>

        <!-- Video Element -->
        <video #video autoplay [ngClass]="{'hidden': isImageCaptured && !isLoading}"></video>
        <canvas #canvas style="display: none;"></canvas>
    </div>

    <!-- Take Picture Button -->
    <div class="masked-camera" (click)="takePicture()" *ngIf="!isLoading && !isImageCaptured"></div>

    <!-- Captured Image Section -->
    <div class="pic-captured-text-container" *ngIf="isImageCaptured && emotionText">
        <div class="emotion-captured-text">{{'webcamComponent.youLook'|translate}} {{emotionText}}</div>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Captured Pic" />
        <div class="captured-pic-buttons">
            <app-button (buttonClick)="startVideo()" text="webcamComponent.recapture" color="primary"></app-button>
            <app-button (buttonClick)="goBack()" text="webcamComponent.continue" color="primary"></app-button>
        </div>
    </div>

    <div class="pic-captured-text-container" *ngIf="isImageCaptured && !emotionText">
        <div class="emotion-captured-text"
            [innerHTML]="'webcamComponent.emotionNotCaptured' | translate:{ lineBreak: '<br>' }"></div>
        <div class="captured-pic-buttons">
            <app-button (buttonClick)="startVideo()" text="webcamComponent.recapture" color="primary"></app-button>
        </div>
    </div>
</div>