<div class="vid-btn-container">


    <div class="video-container" [ngClass]="{'hidden': isImageCaptured}">
        <div class="spinner-container" *ngIf="isLoading">
            <div class="spinner"></div>
        </div>

        <!-- Video Element -->
        <video #video autoplay [ngClass]="{'hidden': isImageCaptured && !isLoading}"></video>
        <canvas #canvas style="display: none;"></canvas>
    </div>

    <!-- Take Picture Button -->
    <app-button class="takePic" color="primary" text="Take Picture" (click)="takePicture()"
        *ngIf="!isLoading && !isImageCaptured">
    </app-button>

    <!-- Captured Image Section -->
    <div class="pic-captured-text-container" *ngIf="isImageCaptured && emotionText">
        <div class="emotion-captured-text">You Look {{emotionText}}</div>
        <img *ngIf="imageUrl" [src]="imageUrl" alt="Captured Image" />
        <div class="captured-pic-buttons">
            <app-button (buttonClick)="startVideo()" text="Retry Picture" color="primary"></app-button>
            <app-button (buttonClick)="goBack()" text="Continue" color="primary"></app-button>
        </div>
    </div>

    <div class="pic-captured-text-container" *ngIf="isImageCaptured && !emotionText">
        <div class="emotion-captured-text">We didn't capture your emotion <br>please try again</div>
        <div class="captured-pic-buttons">
            <app-button (buttonClick)="startVideo()" text="Retry Picture" color="primary"></app-button>
        </div>
    </div>
</div>