.card-container {
    height: 100%;
    width: fit-content;
    background-color: #D9D6D6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 0.6rem;
    border: 2px solid var(--color-primary);
    border-radius: 1rem;
}

.title-close-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


.title {
    font-weight: 500;
    font-size: 1.5rem;
}

.song-artist-names-add-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.song-artist-names {
    width: 20rem;
}


.song-name {
    font-size: 1.3rem;
    font-weight: 600;
}

.artist-name {
    color: grey;
    font-weight: 600;
    font-size: 1em;
}

.masked-favorite {
    mask-image: url(/assets/Icons/favorite.svg);
    -webkit-mask-image: url(/assets/Icons/favorite.svg);
}

.masked-favorite.added-to-faves {
    mask-image: url(/assets/Icons/favorite-filled.svg);
    -webkit-mask-image: url(/assets/Icons/favorite-filled.svg);
}

.masked-favorite,
.masked-favorite.added-to-faves {
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.masked-favorite:hover,
.masked-favorite.added-to-faves:hover {
    background-color: var(--color-danger)
}

.playbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.masked-progress-bar {
    mask-image: url(/assets/Icons/progress-bar.svg);
    -webkit-mask-image: url(/assets/Icons/progress-bar.svg);
    mask-size: cover;
    width: 20rem;
    height: 1rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.play-btn-container {
    background-color: var(--color-primary);
    padding: 0.5rem;
    border-radius: 5rem;
    cursor: pointer;
}

.masked-play {
    mask-image: url(/assets/Icons/play-btn.svg);
    -webkit-mask-image: url(/assets/Icons/play-btn.svg);
}

.masked-pause {
    mask-image: url(/assets/Icons/pause-song.svg);
    -webkit-mask-image: url(/assets/Icons/pause-song.svg);
}

.masked-pause,
.masked-play {
    mask-size: cover;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-text);
}

.masked-prev,
.masked-next {
    mask-size: cover;
    width: 2rem;
    height: 2rem;
    background-color: var(--color-primary);
    cursor: pointer;
}

.masked-prev {
    mask-image: url(/assets/Icons/prev-btn.svg);
    -webkit-mask-image: url(/assets/Icons/prev-btn.svg);
}

.masked-next {
    mask-image: url(/assets/Icons/next-btn.svg);
    -webkit-mask-image: url(/assets/Icons/next-btn.svg);
}

.about-artist-container {
    display: flex;
    flex-direction: column;
}

.about-artist-title {
    font-weight: 500;
    font-size: 1.5rem;
    align-self: flex-start
}

.artist-info {
    display: flex;
    flex-direction: column;
}

.artist-sub-name {
    font-size: 1.3rem;
    font-weight: 500;
}


img {
    height: 20rem;
    border-radius: 0.5rem;
}

.masked-close {
    mask-image: url(/assets/Icons/close.svg);
    -webkit-mask-image: url(/assets/Icons/close.svg);
    mask-size: contain;
    -webkit-mask-size: contain;
    background-color: var(--color-primary);
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
}

.masked-close:hover {

    background-color: var(--color-danger);

}

.progress-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

.progress-bar {
    width: 100%;
    accent-color: var(--color-primary);
    cursor: pointer;
}

.time-labels {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.volume-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
}

.volume-bar {
    width: 80%;
    height: 0.2rem;
    border: 1px solid var(--color-primary);
    border-radius: 1rem;
    appearance: none;
    accent-color: var(--color-primary);
    cursor: pointer;
}

.masked-high,
.masked-medium,
.masked-low,
.masked-mute {
    mask-size: contain;
    width: 1.5rem;
    height: 1.5rem;
    background-color: var(--color-primary);
}

.masked-high {
    mask-image: url(/assets/Icons/volume-high.svg);
    --webkit-mask-image: url(/assets/Icons/volume-high.svg);
}

.masked-medium {
    mask-image: url(/assets/Icons/volume-medium.svg);
    --webkit-mask-image: url(/assets/Icons/volume-medium.svg);
}

.masked-low {
    mask-image: url(/assets/Icons/volume-low.svg);
    --webkit-mask-image: url(/assets/Icons/volume-low.svg);
}

.masked-mute {
    mask-image: url(/assets/Icons/volume-mute.svg);
    --webkit-mask-image: url(/assets/Icons/volume-mute.svg);
}