.bottom-song-play-bar-container {
    width: 100%;
    background-color: #D9D6D6;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* padding: 0.5rem; */
}

.image-song-artist-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 0.5rem;
    width: 30%;
}

img {
    width: 30%;
}

.playbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 0.5rem;
}

.song-name {
    font-weight: 700;
}

.artist-name {
    color: grey;
    font-weight: 600;
}

.add-btn-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-text);
    padding: 0.5rem;
    border-radius: 100%;
}

.masked-add {
    mask-image: url(../../../assets/Icons/add-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/add-btn.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 1rem;
    height: 1rem;
    background-color: black;
}

.masked-progress-bar {
    mask-image: url(../../../assets/Icons/progress-bar.svg);
    -webkit-mask-image: url(../../../assets/Icons/progress-bar.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 20rem;
    height: 1rem;
    background-color: black;
}

.buttons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.play-btn-container {
    background-color: black;
    padding: 0.3rem;
    border-radius: 5rem;
}

.masked-play {
    mask-image: url(../../../assets/Icons/play-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/play-btn.svg);
    mask-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    background-color: white;
}

.masked-shuffle,
.masked-prev,
.masked-next,
.masked-order {
    mask-size: cover;
    -webkit-mask-size: cover;
    width: 1.5rem;
    height: 1.5rem;
    background-color: black;
}

.masked-shuffle {
    mask-image: url(../../../assets/Icons/shuffle-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/shuffle-btn.svg);
}

.masked-prev {
    mask-image: url(../../../assets/Icons/prev-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/prev-btn.svg);
}

.masked-next {
    mask-image: url(../../../assets/Icons/next-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/next-btn.svg);
}

.masked-order {
    mask-image: url(../../../assets/Icons/order-btn.svg);
    -webkit-mask-image: url(../../../assets/Icons/order-btn.svg);
}

.masked-close,
.masked-favorite {
    mask-size: cover;
    -webkit-mask-size: cover;
    background-color: black;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
}

.masked-close{
    mask-image: url(../../../assets/Icons/close.svg);
    -webkit-mask-image: url(../../../assets/Icons/close.svg);
}    

.masked-favorite {
    mask-image: url(../../../assets/Icons/favorite.svg);
    -webkit-mask-image: url(../../../assets/Icons/favorite.svg);
}


.masked-favorite.added-to-faves {
    mask-image: url(../../../assets/Icons/favorite-filled.svg);
    -webkit-mask-image: url(../../../assets/Icons/favorite-filled.svg);

}