<div class="screen-container">

  <div class="top-bar">

    <app-top-bar></app-top-bar>

  </div>

  <div class="main-content">

    <div class="screen-content-container" [class.onBoardingActive]="isOnBoardingOrLoginOrSignupScreenActive()">
      <router-outlet />
    </div>

    <div class="song-play-side-bar">
      <app-song-play-card></app-song-play-card>
    </div>

  </div>

  <div class="bottom-song-play-bar">
    <app-bottom-song-play-bar></app-bottom-song-play-bar>
  </div>

  <div class="bottom-bar">
    <app-bottom-bar></app-bottom-bar>
  </div>

</div>