.profile-screen-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.profile-tabs-container {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tab {
    color: var(--color-primary);
    font-weight: normal;
    padding: 1rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab:hover {
    border-bottom: 2px solid var(--color-primary);
}

.tab.active {
    border-bottom: 2px solid var(--color-primary);
    font-weight: 700;
}

.content-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}

app-input {
    width: 100%;
}

app-button {
    align-self: center;
    width: 50%;
}

.welcome-container {
    font-size: 2rem;
}

.username {
    font-weight: 600;
}

.welcome-spotify-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.masked-spotify {
    mask-image: url(/assets/Icons/spotify-icon.svg);
    --webkit-mask-image: url(/assets/Icons/spotify-icon.svg);
    mask-size: cover;
    background-color: var(--color-primary);
    width: 2rem;
    height: 2rem;
}

.spotify-container {
    display: flex;
    align-items: center;
    font-weight: 500;
    color: var(--color-warning);
    cursor: pointer;
    gap: 0.3rem;
}

.spotify-container:hover {
    color: var(--color-danger);
}

.disabled {
    color: var(--color-secondary);
    cursor: default;
}

.disabled:hover {
    color: var(--color-secondary);
}