.bottom-tabs-container {
    background-image: url(/assets/images/grey-background.webp);
    color: var(--color-primary);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.icon-title-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
}

.icon-title-container.selected {
    cursor: pointer;
}

.masked-icon {
    background-color: var(--color-primary);
    mask-size: contain;
    width: 2rem;
    height: 2rem;
}

.get-started-small-screen {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}