<div class="on-boarding-screen-container">

    <div class="text-container">

        <div class="discover-container">
            <div class="discover-text">{{ 'onBoardingComponent.discover' | translate }}</div>
            <div></div>
        </div>


        <div class="entertainment-text">{{ 'onBoardingComponent.Entertainment' | translate }}</div>

        <div class="tailored-to-you-container">
            <div></div>
            <div class="tailored-to-you-text">{{ 'onBoardingComponent.tailordToYou' | translate }}</div>
        </div>
    </div>


    <div class="image-container">

        <div class="discover-playlist-text-container">
            <div class="number">1.0-</div>
            <div class="discover-playlist">{{ 'onBoardingComponent.onBoardDiscoverSongs' | translate }}</div>
        </div>


        <img class="on-boarding-image" src="/assets/images/onboarding.webp" alt="Onboarding">

        <div class="discover-movies-text-container">
            <div class="number">2.0-</div>
            <div class="discover-movies">{{ 'onBoardingComponent.onBoardDiscoverMovies' | translate }}</div>
        </div>
    </div>
</div>